.footer{
    background:#f7f8ff;
    border-top:1px solid #dfe3ff;
}

.logo{
    font-weight:700;
    font-size:30px;
}

.logo-icon{
    width:46px;
    height:46px;
    background:#6366f1;
    color:#fff;
    border-radius:14px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:12px;
    font-size:22px;
}

.footer h5{
    font-weight:700;
    margin-bottom:25px;
}

.footer-links{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-links li{
    margin-bottom:10px;
}

.footer-links a{
    color:#6b7280;
    text-decoration:none;
}

.footer-links a:hover{
    color:#6366f1;
}

.social-icons{
    display:flex;
    gap:10px;
}

.social-icons a{
    width:42px;
    height:42px;
    border:1px solid #dfe3ff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#6b7280;
    text-decoration:none;
}

.social-icons a:hover{
    background:#6366f1;
    color:#fff;
}

.footer-bottom-links{
    display:flex;
    gap:20px;
}

.footer-bottom-links a{
    text-decoration:none;
    color:#6b7280;
}

.footer-bottom-links a:hover{
    color:#6366f1;
}

hr{
    border-color:#c3c7eb;
}